body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(229, 239, 243);
}

html, body {
    overflow-x: hidden;
}


/* Navbar styles */
.navbar {
    background-color: #fff;
    width: 100%;
    min-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar img {
    height: 40px;
    margin-right: 10px;
}
.navbar h1 {
    font-size: 1.2rem;
}
.navbar ul {
    list-style-type: none;
    margin-right: 0;
    padding: 0;
    text-align: right;
}
.navbar ul li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
}
.navbar ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}
.navbar ul li a:hover {
    color: rgb(221, 221, 111);
}
.navbar ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 215, 0);
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navbar ul li a:hover::after {
    width: 100%;
}
@media (max-width: 768px) {
    .navbar ul li {
        display: block;
        text-align: left;
    }
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.text-container {
    padding: 20px;
}

@media (min-width: 768px) {
    .image-container img {
        height: 400px;
        margin-top: 47px;
        margin-left: 50px;
    }

    .container2 .centered {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .text-container {
        padding: 40px;
    }

    .container2 .centered {
        font-size: 4rem;
    }
}
.container2 {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 10px;
    color: white;
    font-family: Times, "Times New Roman", Georgia, serif;
}
img {
    width: 100%;
    height: auto;

}
h2 {
    text-align: center;
    font-family: fantasy;
    margin-top: 10px;
    font-weight: 900;
}
p {
    margin-left: 10%;
    margin-right: 10%;
}
.accordion-item {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}
.card {
    margin-bottom: 20px;
    text-align: left;
    height: 90%;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s, transform 0.5s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    opacity: 1;
}
.card.show {
    opacity: 1;
    transform: translateX(0);
}


/* General Footer Styling */
.footer {
    background-color: #333;
    padding: 40px 0;
    color: #fff;
    font-size: 14px;
}

.footer .container {
    max-width: 1200px; /* Ensures the footer content doesn't extend too wide */
    margin: 0 auto; /* Centers the footer content horizontally */
}

/* Flexbox setup for footer content */
.footer .footer-content {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    justify-content: space-between;
}

/* Contact Information Section */
.footer .contact-info {
    flex: 1 1 300px; /* Flex properties for responsiveness */
    margin-right: 20px;
}

.footer .contact-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: yellow;
    font-size: 16px;
}

.footer .contact-info p {
    margin: 5px 0;
}

/* Quick Links Section */
.footer .footer-menu {
    flex: 1 1 300px; /* Flex properties for responsiveness */
}

.footer .footer-menu h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: yellow;
    font-size: 16px;
   
}

.footer .footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.footer .footer-menu ul li {
    margin-bottom: 8px;
}

.footer .footer-menu ul li a {
    text-decoration: none;
    color: #fff;;
    transition: color 0.3s ease;
}

.footer .footer-menu ul li a:hover {
    color: black;
}

/* Social Icons Section */
.footer .footer-social {
    flex: 1 1 300px; /* Flex properties for responsiveness */
    text-align: right;
}

.footer .footer-social h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: yellow;
    font-size: 16px;
    margin-right: 20px;
}

.footer .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.footer .social-icons li {
    display: inline-block;
    margin-left: 10px;
}

.footer .social-icons li:first-child {
    margin-left: 0;
}

.footer .social-icons li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.footer .social-icons li a:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

/* Bottom Footer */
.bottom-footer {
    background-color: #333 ;
    padding: 10px 0;
    text-align: center;
    color: silver;
    font-size: 12px;
}

